{{#if route}}
    {{#unless isCurrentRoute}}
        {{#link-to route model._id}}
            {{#if iconCssClass}} <span {{bind-attr class="iconCssClass"}}></span> {{/if}}
            {{label}}
        {{/link-to}}
    {{/unless}}
{{else}}

    {{#if isToggleAction}}
        <a {{action 'toggle'}}>
            {{#if iconCssClass}} <span {{bind-attr class="iconCssClass"}}></span> {{/if}}
            {{label}}
        </a>
    {{else}}
        <a {{action "actionTriggered" name}}>
            {{#if iconCssClass}} <span {{bind-attr class="iconCssClass"}}></span> {{/if}}
            {{label}}
        </a>
    {{/if}}
{{/if}}